{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
        <button type="button" class="upvote-btn">upvote comment</button>
    </div>

</form>

<script src="/javascript/comments.js"></script>
<script src="/javascript/upvote.js"></script>

{{/if}}